

#container {
  width: 400px;
  margin: 120px auto 0;
}


.download:hover {
  box-shadow: 0 2px 4px rgba(83, 100, 255, 0.45);
}

.download2 {
  display: inline-block;
  margin-right: 10px;
  background: #007BFF;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 38px;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 80px;
  text-align: center;
  background-color: orange;
}


.download2:hover {
  background: #fff;
  color: #339DFF;
  box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
}